<div class="issue">
    
    
    <h2> Inconsistent usage of prefixed CSS properties. </h2>
        <p>Some of the CSS style sheets use prefixed properties, i.e. properties that may have not been standardized yet and that are specific to a given browser.</p>
        <p>While using prefixed properties make it possible for a page to use leading edge advances in CSS,  it is important that they be used in a way that does not affect compatibility with other browsers. Some prefixed properties have inconsistent values across prefixed names. </p>
        <table id="mismatchingprefixeslist" class="collapsable" title="List of inconsistent prefixed properties">
        <thead><tr><th>Location</th><th>Mismatched declarations</th></tr></thead>
        <tbody>
        <% var urls = Object.keys(mismatchingPrefixes); %>
        <% for(var i=0; i < urls.length; i++) {%>
        <tr><th colspan="2" scope='row'><a href='<%= urls[i] %>'><code><%=: urls[i] | ellipsizeUrl %></code></a></th></tr>
        <% for(var j=0; j < mismatchingPrefixes[urls[i]].length; j++) {%>
        <% var mismatchingPrefix = mismatchingPrefixes[urls[i]][j]; %>
        <tr>
        <td>line <%= mismatchingPrefix.position.line %>, col <%= mismatchingPrefix.position.column %><pre title="CSS Rule" class="popover"><code><%= mismatchingPrefix.rule %></code></pre></td>
        <td><% for (var k=0 ; k < mismatchingPrefix.decls.length ; k++) { %>
           <code><%= mismatchingPrefix.decls[k] %></code><br>
        <%}%></td>
        </tr>
        <% } %>
        <% } %>
        </tbody>
        </table>
        <p>Broad compatibility with mobile browsers ensure as many users as possible will benefit from the web page. It also keeps the Web open!</p>
</div>
<div class='fix'>
            
<p>             For each identified CSS rule, ensure the various prefix equivalents have the same declaration.</p>
</div>
