<div class="issue">
    
    
    <h2>Incomplete usage of prefixed CSS properties </h2>
        <p>Some of the CSS style sheets use prefixed properties, i.e. properties that may have not been standardized yet and that are specific to a given browser.</p>
        <p>While using prefixed properties make it possible for a page to use leading edge advances in CSS,  it is important that they be used in a way that does not affect compatibility with other browsers. Some prefixed properties are missing their equivalent for other browsers.</p> 
        <div id="missingprefixeslist" class="collapsable" title="List of incomplete prefixed properties">
        <% var urls = Object.keys(missingPrefixes); %>
        <% for(var i=0; i < urls.length; i++) {%>
        <h3>In <a href='<%= urls[i] %>'><code><%=: urls[i] | ellipsizeUrl %></code></a></h3>
        <dl class="report">
        <% for(var j=0; j < missingPrefixes[urls[i]].length; j++) {%>
        <% var missingPrefix = missingPrefixes[urls[i]][j]; %>
        <dt>On line <%= missingPrefix.position.line %>, col <%= missingPrefix.position.column %><pre class="popover"><code><%= missingPrefix.rule %></code></pre></dt>
        <dd>Existing prefixed declarations:<br><% for (var k=0 ; k < missingPrefix.decls.length ; k++) { %>
           <code><%= missingPrefix.decls[k] %></code><br>
        <%}%></dd>
        <dd>Missing:<br><% for (var k=0 ; k < missingPrefix.missing.length ; k++) { %>
          <code><%= missingPrefix.missing[k]%>: <%= missingPrefix.value %></code><br>
        <%}%></dd>
        <% } %>
        </dl>
        <% } %>
        </div>
        <p>Broad compatibility with mobile browsers ensure as many users as possible will benefit from the web page. It also keeps the Web open!</p>
        </div>
        <div class='fix'>
            
            <p>For each identified CSS rule, add the equivalent prefix(es) for other browsers.</p>
</div>
