<div class="issue">
    
    
    <h2> <%=number%> HTTP errors encountered during page load </h2>
        <p>When loading the resources required to display the page from the network, <%=number%> HTTP errors were triggered.</p>
        <table id="httperrorlist" class="collapsable" title="List of HTTP errors">
        <thead><tr><th>URL</th><th>HTTP Status</th><th>HTTP Message</th></tr></thead>
        <tbody>
        <% for(var i=0; i < errors.length; i++) {%>
           <tr>
           <th scope="row"><a href="<%= errors[i].url %>"><code><%=: errors[i].url | ellipsizeUrl %></code></a></th>
           <td><%= errors[i].status %></td>
           <td><%= errors[i].statusText %></td>
           </tr>
        <% } %>
        </tbody>
        </table>
        <p>HTTP errors imply that the target resource was not loaded, which can impact the proper functioning of the page and implies unneeded network traffic.</p>
        </div>
        <div class='fix'>
            
<p>            Check the listed errors to determine their origin and fix them or remove the resources from the page.</p>
        </div>
