<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header"><%=number%> resources could be compressed <small><%=category%></small></h2>
        <p><%=number%> resources loaded to display the page could be transmitted more quickly (saving <%= Math.floor(saving / 1024) %> kB) if they were compressed:</p>
        <a data-toggle="collapse" href="#compressablelist">List of compressable resources</a>
        <table id="compressablelist" class="panel-collapse collapse table">
        <thead><tr><th>URL</th><th>Uncompressed</th><th>Compressed</th><th>Saving</th><th>%</th></tr></thead>
        <tbody>
        <% for (var i = 0; i<compressable.length; i++) {%>
                <tr>
                <th scope="row"><a href="<%= compressable[i].url %>"><code><%=: compressable[i].url | ellipsizeUrl %></code></a></th>
                <td><%=: compressable[i].origSize | number %>B</td>
                <td><%=: (compressable[i].origSize - compressable[i].diff) | number %>B</td>
                <td><%=: compressable[i].diff | number %>B</td>
                <td><%= Math.floor(100 * compressable[i].diff / compressable[i].origSize) %>%</td>
                </tr>
            <% } %>
        </tbody>
        </table>
        <h3>why ?</h3>
        <p>Reducing the overall amount of data needed to display the page makes it load faster, a critical component of the user experience on mobile browsers.</p>
        <h3>how to fix it ?</h3>
        <p>Enable compression on the Web server.</p>
    </div>
</div>