<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue"><%=number%> redirects encountered during page load</h2>
        <p>When loading the resources required to display the page from the network, <%=number%> HTTP redirects were triggered.</p>
        <a data-toggle="collapse" href="#redirectlist">List of redirects</a>
        <table id="redirectlist" class="panel-collapse collapse table">
        <thead><tr><th>From</th><th>To</th><th>Wasted network traffic</th><th>Additional latency</tr></thead>
        <tbody>
        <% for(var i=0; i<redirects.length; i++) {%>
           <tr>
           <th scope="row"><a href="<%= redirects[i].from %>"><code><%=: redirects[i].from | ellipsizeUrl %></code></A></th>
           <td><code><a href="<%= redirects[i].to %>"><%=: redirects[i].to | ellipsizeUrl %></a></code></td>
           <td><%=: redirects[i].wastedBW | number %>B</td>
           <td><%=: redirects[i].latency | number %>ms</td>
        <% } %>
        <tr>
        <th colspan="2" scope="row">Total</th>
        <td><%=: totalWastedBW | number %>B</td>
        <td><%=: totalLatency | number %>ms</td>
        </tr>
        </tbody>
        </table>
        <h3>why ?</h3>
        <p>Each HTTP redirects require an additional round trip on the network, which slows down the page load without any benefit to the user.</p>
        <h3>how fix it ?</h3>
        <p>Use the final destination URL for the resources.</p>
    </div>
</div>