<div class="col-md-12 issue">
    <div id="issue-status" class="col-md-1"><span class="octicon octicon-issue-opened"></span></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header"> <%=number%> HTTP errors encountered during page load <br><small><%=category%></small></h2>
        <p>When loading the resources required to display the page from the network, <%=number%> HTTP errors were triggered.</p>
        <a data-toggle="collapse" href="#httperrorlist">List of HTTP errors</a>
        <table id="httperrorlist" class="panel-collapse collapse table">
        <thead><tr><th>URL</th><th>HTTP Status</th><th>HTTP Message</th></tr></thead>
        <tbody>
        <% for(var i=0; i < errors.length; i++) {%>
           <tr>
           <th scope="row"><a href="<%= errors[i].url %>"><code><%=: errors[i].url | ellipsizeUrl %></code></a></th>
           <td><%= errors[i].status %></td>
           <td><%= errors[i].statusText %></td>
           </tr>
        <% } %>
        </tbody>
        </table>
        <p>HTTP errors imply that the target resource was not loaded, which can impact the proper functioning of the page and implies unneeded network traffic.</p>
        <div class='fixit'>
            <h2><span class="octicon octicon-issue-closed"></span> HOW TO FIX IT:</h2>
            Check the listed errors to determine their origin and fix them or remove the resources from the page.
        </div>
    </div>
</div>