<div class="issue">
    
    
    <h2> <%=number%> resources could be compressed </h2>
        <p><%=number%> resources loaded to display the page could be transmitted more quickly (saving <%=: saving | byteSize %>) if they were compressed:</p>
        <table id="compressablelist" class="collapsable" title="List of compressable resources">
        <thead><tr><th>URL</th><th>Uncompressed</th><th>Compressed</th><th>Saving</th><th>%</th></tr></thead>
        <tbody>
        <% for (var i = 0; i<compressable.length; i++) {%>
                <tr>
                <th scope="row"><a href="<%= compressable[i].url %>"><code><%=: compressable[i].url | ellipsizeUrl %></code></a></th>
                <td><%=: compressable[i].origSize | byteSize %></td>
                <td><%=: (compressable[i].origSize - compressable[i].diff) | byteSize %></td>
                <td><%=: compressable[i].diff | byteSize %></td>
                <td><%= Math.floor(100 * compressable[i].diff / compressable[i].origSize) %>%</td>
                </tr>
            <% } %>
        </tbody>
        </table>
        <p>Reducing the overall amount of data needed to display the page makes it load faster, a critical component of the user experience on mobile browsers.</p>
        </div>
        <div class='fix'>
            
            Enable compression on the Web server. See <a href="http://betterexplained.com/articles/how-to-optimize-your-site-with-gzip-compression/">How To Optimize Your Site With GZIP Compression</a> for details, including IIS and Apache.
        </div>
