<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header">Loading the page requires <%=number%> network requests <small><%=category%></small></h2>
        <p>The following resources were loaded from the network:</p>
        <a data-toggle="collapse" href="#httplist">List of HTTP requests</a>
        <table id="httplist" class="panel-collapse collapse table sortable">
        <thead><tr><th data-defaultsort='disabled'>URL</th><th>HTTP Status</th><th>Type</th><th data-firstsort="desc">Size</th><th data-firstsort="desc">Time</th></tr></thead>
        <tbody>
        <% for(var i=0; i < entries.length; i++) {%>
           <tr>
           <td scope="row"><a href="<%= entries[i].url %>"><code><%=: entries[i].url | ellipsizeUrl %></code></a></td>
           <td><%= entries[i].status %></td>
           <td><%= entries[i].mimeType %></td>
           <td class='number' data-value='<%= entries[i].bodySize %>'><%=: entries[i].bodySize | byteSize %></td>
           <td class='number'><%= entries[i].time|number %> ms</td>
           </tr>
        <% } %>
        </tbody>
        </table>
        <script>$.bootstrapSortable();</script>
    </div>
</div>