<div class="issue">
    
    
        <h2><%=number%> redirects encountered during page load </h2>
        <p>When loading the resources required to display the page from the network, <%=number%> HTTP redirects were triggered.</p>
        <p>Each HTTP redirects require an additional round trip on the network, which slows down the page load without any benefit to the user.
        <table id="redirectlist" class="collapsable" title="List of redirects">
        <thead><tr><th>From</th><th>To</th><th>Wasted network traffic</th><th>Additional latency</tr></thead>
        <tbody>
        <% for(var i=0; i<redirects.length; i++) {%>
           <tr>
           <th scope="row"><a href="<%= redirects[i].from %>"><code><%=: redirects[i].from | ellipsizeUrl %></code></A></th>
           <td><a href="<%= redirects[i].to %>"><code><%=: redirects[i].to | ellipsizeUrl %></code></a></td>
           <td><%=: redirects[i].wastedBW | byteSize %></td>
           <td><%=: redirects[i].latency | number %>ms</td>
        <% } %>
        <tr>
        <th colspan="2" scope="row">Total</th>
        <td><%=: totalWastedBW | byteSize %></td>
        <td><%=: totalLatency | number %>ms</td>
        </tr>
        </tbody>
        </table>
        </div>
        <div class='fix'>
            
            <p>Use the final destination URL for the resources.</p>
        </div>
