<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header">Invalid value for <%=property%> in meta viewport</h2>
        <p>The property <%=property%> in the meta viewport declaration has an invalid value: <%=value%>.</p>
        <h3>why ?</h3>
        <p>Because <%=value%> is not a recognized value for <%=property%>, it will be ignored by the browser.</p>
        <h3>how to fix it ?</h3>
        <p>Use a valid value for <%=property%>, one of: <%=validValues%>.</p>
    </div>
</div>