<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header">Invalid value for <%=property%> in meta viewport <small><%=category%></small></h2>
        <p>The property <%=property%> in the meta viewport declaration has an invalid value: <%=value%>.</p>
        <br>
        <p>Because <%=value%> is not a recognized value for <%=property%>, it will be ignored by the browser.</p>
        <p class='fixit'><strong>Fix it:</strong> Use a valid value for <%=property%>, one of: <%=validValues%>.</p>
    </div>
</div>