<div class="issue">
    
    
    <h2> Small touch targets </h2>
    <p><%= size.width.length %> activable targets have been detected that are smaller than 48px wide or 48px high.</p>
        <table id="smalltargetslist" class="collapsable" title="List of small activable targets">
        <thead><tr><th>Code</th><th>Tag</th><th>Size</th></tr></thead>
        <tbody>
        	<%for(var index in size.width){%>
                <tr>
        	<td><code><%=outerHtml[index]%></code></td><td><code><%=tag[index]%></td><td><%=size.width[index]%>x<%=size.height[index]%></td></tr>
        	<%}%>
        </tbody>
        </table>
        <p>Most mobile devices are prominently touch-based, which means they need larger activable targets than mouse-based devices. It is recommended that activable targets (such as links and form fields) be at least 48x48 pixels large to make them easy to hit with a finger.</p>
        </div>
        <div class='fix'>
            
            Style activable targets so that their width and height are larger than 48px.
        </div>
