<div class="issue">
    <h2>App manifest could not be retrieved</h2>
        <p>The declared app manifest at <code><a href="<%= manifest %>"><%= manifest %></a></code> references the address <code><a href="<%= url %></a></code> for the property <code><%= property %></code>, but that address resulted in an HTTP error <code><%= error %></code>.</p>
</div>
        <div class='fix'>
            <p>Check that the address in the property <code><%= property %></code> for the manifest <code><%= manifest %> is correct, and make sure it has been properly uploaded to the server.</p>
        </div>
