<section id='current-state'>
    <h4>Current State</h4>
    <p>clients connected: <%= currentState.clients %></p>
    <p>validations running: <%= currentState.validations %></p>
</section>
<section id='history'>
    <h4>History - <%= history.startDate %> </h4>
    <p>clients connections: <%= history.clients %></p>
    <p>validations runs: <%= history.validations %></p>
</section>