<div class="issue">
    <h2><%=number%> images could have metadata removed</h2>
        <p><%=number%> images displayed on the page could be transmitted more quickly (saving <%= Math.floor(saving / 1024) %> kB) if their embedded metadata were removed:</p>
        <table id="minifiablelist" class="collapsable" title="List of minifiable images">
        <thead><tr><th>URL</th><th>With metadata</th><th>Without metadata</th><th>Saving</th><th>%</th></tr></thead>
        <tbody>
        <% for (var i = 0; i<minifiable.length; i++) {%>
                <tr>
                <th scope="row"><a href="<%= minifiable[i].url %>"><code><%=: minifiable[i].url | ellipsizeUrl %></code></a></th>
                <td><%=: minifiable[i].origSize | number %>B</td>
                <td><%=: (minifiable[i].origSize - minifiable[i].diff) | number %>B</td>
                <td><%=: minifiable[i].diff | number %>B</td>
                <td><%= Math.floor(100 * minifiable[i].diff / minifiable[i].origSize) %>%</td>
                </tr>
            <% } %>
        </tbody>
        </table>
        <p>Reducing the overall amount of data needed to display the page makes it load faster, a critical component of the user experience on mobile browsers.</p>
        </div>
        <div class='fix'>
        <p>Remove EXIF data from your images, using for instance the <code>jhead</code> utility in your production workflow.</p>
    </div>
