<div class="issue">
  <h2>Invalid value for <%=property%> in meta viewport</h2>
  <p>The property <code><%=property%></code> in the meta viewport declaration has an invalid value: <code><%=value%></code>.</p>
  <p>Because <code><%=value%></code> is not a recognized value for <code><%=property%></code>, it will be ignored by the browser.</p>
</div>
<div class='fix'>
  <p>Use a valid value for <code><%=property%></code>, one of: <%=validValues%>. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a></p>
</div>