<div class="col-md-12 issue">
    <div id="issue-status" class="col-md-1"><span class="octicon octicon-issue-opened"></span></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue page-header"> Invalid value for <%=property%> in meta viewport <br><small><%=category%></small></h2>
        <p>The property <code><%=property%></code> in the meta viewport declaration has an invalid value: <code><%=value%></code>.</p>
        <br>
        <p>Because <code><%=value%></code> is not a recognized value for <code><%=property%></code>, it will be ignored by the browser.</p>
        <div class='fixit'>
            <h2><span class="octicon octicon-issue-closed"></span> HOW TO FIX IT:</h2>
             Use a valid value for <code><%=property%></code>, one of: <%=validValues%>. Learn more about <a href="https://docs.webplatform.org/wiki/tutorials/mobile_viewport">the mobile viewport</a>
        </div>
    </div>
</div>