<div class="issue">
    
    
    <h2>Loading the page requires <%=number%> network requests </h2>
        <p>The following resources were loaded from the network:</p>
        <table id="httplist" class="collapsable sortable" title="List of HTTP requests">
        <thead><tr><th data-defaultsort='disabled'>URL</th><th>HTTP Status</th><th>Type</th><th data-firstsort="desc">Size</th><th data-firstsort="desc">Time</th></tr></thead>
        <tbody>
        <% for(var i=0; i < entries.length; i++) {%>
           <tr>
           <td scope="row"><a href="<%= entries[i].url %>"><code><%=: entries[i].url | ellipsizeUrl %></code></a></td>
           <td><%= entries[i].status %></td>
           <td><%= entries[i].mimeType %></td>
           <td class='number' data-value='<%= entries[i].bodySize %>'><%=: entries[i].bodySize | byteSize %></td>
           <td class='number'><%= entries[i].time|number %> ms</td>
           </tr>
        <% } %>
        </tbody>
        </table>
        </div>
        <div class='fix'>
            
<p>            You can reduce the number of network requests by combining (concatenating) files such as JavaScript and CSS files. It's also possible to combine several image files into a single larger image and use CSS to display parts of that image as needed &mdash; a technique known as CSS sprites. See <a href="http://www.smashingmagazine.com/2009/04/27/the-mystery-of-css-sprites-techniques-tools-and-tutorials/">The Mystery Of CSS Sprites</a> for a detailed explanation and many useful links.</p>
        </div>
