<div class="col-md-12 issue">
    <div class="col-md-12 content-issue">
    <h2 class="title-issue page-header">Incomplete usage of prefixed CSS properties <small><%=category%></small></h2>
        <p>Some of the CSS style sheets use prefixed properties, i.e. properties that may have not been standardized yet and that are specific to a given browser.</p>
        <p>While using prefixed properties make it possible for a page to use leading edge advances in CSS,  it is important that they be used in a way that does not affect compatibility with other browsers. Some prefixed properties are missing their equivalent for other browsers.</p>
        <a data-toggle="collapse" href="#missingprefixeslist">List of incomplete prefixed properties</a>
        <table id="missingprefixeslist" class="panel-collapse collapse table">
        <thead><tr><th>Location</th><th>Prefixed declaration</th><th>Missing equivalent</th></tr></thead>
        <tbody>
        <% var urls = Object.keys(missingPrefixes); %>
        <% for(var i=0; i < urls.length; i++) {%>
        <tr><th colspan='3' scope='row'><a href='<%= urls[i] %>'><code><%=: urls[i] | ellipsizeUrl %></code></a></th></tr>
        <% for(var j=0; j < missingPrefixes[urls[i]].length; j++) {%>
        <% var missingPrefix = missingPrefixes[urls[i]][j]; %>
        <tr>
        <td>line <%= missingPrefix.position.line %>, col <%= missingPrefix.position.column %><span class="info btn btn-xs btn-default glyphicon glyphicon-info-sign" data-container="body" title="CSS Rule" data-html="TRUE" data-toggle="popover" data-placement="bottom" data-content="<pre><code><%= missingPrefix.rule %></code></pre>"></span></td>
        <td><% for (var k=0 ; k < missingPrefix.decls.length ; k++) { %>
           <code><%= missingPrefix.decls[k] %></code><br>
        <%}%></td>
        <td><% for (var k=0 ; k < missingPrefix.missing.length ; k++) { %>
          <code><%= missingPrefix.missing[k]%>: <%= missingPrefix.value %></code><br>
        <%}%></td>
        </tr>
        <% } %>
        <% } %>
        </tbody>
        </table>
        <script>$('span.info').popover();</script>
        <br>
        <p>Broad compatibility with mobile browsers ensure as many users as possible will benefit from the web page. It also keeps the Web open!</p>
        <p class='fixit'><strong>Fix it:</strong> For identified CSS rule, add the equivalent prefix for other browsers.</p>
    </div>
</div>
